h1 Login
div
  a(href='/auth/google') Google
div
  a(href='/auth/facebook') Facebook
form(action='/login', method='post')
  div
    label(for='login') Login
    input(type='text', id='login', name='login')
  div
    label(for='password') Password
    input(type='text', id='password', name='password')
  button(type='submit') Login
  p
    a(href='/logout') Logout
  