<h1>Login</h1>
<% if (isSession) { %>
<div><a href="/auth/google">Google</a></div>
<div><a href="/auth/facebook">Facebook</a></div>
<% } %>
<br><br>
<form action="/login" method="post">
  <div>
    <label for="login">Login</label>
    <input type="text" id="login" name="login">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="text" id="password" name="password">
  </div>
  <button type="submit">Login</button>
  <p>
    <a href="/logout">Logout</a>
  </p>
</form>